@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700");

:root {
    --white: #afafaf;
    --bodyColor: #292a2b;
    --borderFormEls: hsl(0, 0%, 10%);
  }

body {
    background: var(--bodyColor);
}

.contenedor-aprender {
    display: flex;
    flex-direction: row;
    height: auto;
    background-color: white;
    box-sizing: border-box;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 85%; 
}

.encabezado {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row;
    max-height: max-content;
    width: 100%;
    height: 100px;
    flex: 1 1 auto;
    min-height: auto;
    justify-content: center;
    margin: 0 0;
    background-color: var(--bodyColor);
    color: white;
    text-shadow: 2px 2px 4px black;
    font: 24px "Open Sans", sans-serif;

}

.ranking {
    color: white;
    text-shadow: 2px 2px 4px black;
    font:"Open Sans", sans-serif;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row;
    max-height: max-content;
    width: 100%;
    flex: 1 1 auto;
    min-height: auto;
    justify-content: center;
    padding: 50px 0;
    background-color: var(--bodyColor);
}

.ranking2 {
    text-shadow: 2px 2px 4px var(--white);
    font:"Open Sans", sans-serif;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row;
    max-height: max-content;
    width: 100%;
    flex: 1 1 auto;
    min-height: auto;
    justify-content: center;
    padding: 50px 0;
    background-color: white;
}

.imagen-ranking {
    text-align: center;
    width: 50%;
    max-width: 50%;
    flex: 1 1 auto;
    min-height: auto;

}

.texto-ranking {
    width: 50%;
    max-width: 50%;
    flex: 1 1 auto;
    min-height: auto;
    padding: 0 1.5rem;

}



@media screen and (max-width: 680px) {
    .ranking,
    .ranking2 {
        flex-direction: column;
        justify-content: center;
        padding: 20px 0;
    }

    .ranking2 {
        flex-flow: column-reverse;
    }

    .texto-ranking {
        padding: 0;
    }

    .imagen-ranking {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

}